<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Angular Links Votos</a>
</nav>
<div class="container p-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <h3 class="card-header">Agregar un Enlace</h3>
                <form class="card-body" action="">
                    <div class="form-group">
                        <label for="title">Titulo:</label>
                        <input type="text" class="form-control" name="title" #title aria-describedby="helpId" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="link">Enlace:</label>
                        <input type="url" class="form-control" name="link" #link aria-describedby="helpId">
                    </div>
                    <button (click)="addLink(title, link)" type="button" class="btn btn-primary btn-block mt-4">Enviar Enlace</button>
                </form>
            </div>
        </div>
    </div>
    <app-link *ngFor="let link of links; let i=index" [link]='link'></app-link>
</div>